<div class="row">
    <div class="row">
        <div class="input-field col s9">
            <h2>Who We Are?</h2>
            <p>Our Company <br>
               We are a company with great experience managing, selling and <br>
               appraising estate root throughout Colombia....<a routerLink="/company-information">VIEW MORE</a></p>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s6">
            <a routerLink="/posts"><h2>Search Property</h2></a>
            <p>
                View our properties
            </p>
        </div>
        <div class="input-field col s6">
            <a routerLink="/contact"><h2>Contact</h2></a>
            <p>
                Contact us
            </p>
        </div>
    </div>
</div>
