<div class="row">
    <div class="row">
        <div class="input-field col s6">
            <h2>Quienes somos</h2>
            <p>Hogar Colombia le ofrece una gestion <br>
            para la compra y alquler de inmuebles en la <br>
            ciudad de Manizales y sus alrededores</p>
        </div>
        <div class="input-field col s6">
            <h2>Donde estamos</h2>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s6">
            <h2>Buscar Inmuebles</h2>
        </div>
        <div class="input-field col s6">
            <h2>Contactar</h2>
        </div>
    </div>
</div>
